<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://js.pusher.com/2.2/pusher.min.js"></script>
  <script src="http://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    var dps = [{x: 0, y: 0}]; 
    var updateChart = function (xVal, yVal) {
	      	
	      	dps.push({x: xVal,y: yVal});
	      	
	      	if (dps.length >  10 )
	      	{
	      		dps.shift();				
	      	}

	      	chart.render();		

		// update chart after specified time. 

	};

    var pusher = new Pusher('<%= Pusher.key%>');
    var channel = pusher.subscribe('private-test_channel');
    
    channel.bind('ping', function(data) {
    	alert(data.message);
    	var messagesList = document.getElementById('messages');
    	messagesList.innerHTML += '<li>' + data.message + '</li>';
    	//var triggered = channel.trigger('client-pong', { name: "harry" });
    });

    channel.bind('chart', function(data) {
    	alert(data.message);
    	updateChart(parseInt(data.xVal), parseInt(data.yVal));
    });

    pusher.connection.bind( 'error', function( err ) { 
	  if( err.code === 4004 ) {
	    alert('>>> detected limit error');
	  }
	});

	pusher.connection.bind('connected', function() {
	  //$('div#status').text('Real time is go!');
	  alert('Real Time to go');
	  document.getElementById('status').innerHTML = "Connected";
	});

	pusher.connection.bind('connecting_in', function() {
	  //$('div#status').text('Real time is go!');
	  alert('Real Time to go');
	});

  </script>
<script>
		window.onload = function () {

	      //var dps = [{x: 0, y: 0}];   //dataPoints. 

	      var chart = new CanvasJS.Chart("chartContainer",{
	      	title :{
	      		text: "Live Data"
	      	},
	      	axisX: {						
	      		title: "Axis X Title"
	      	},
	      	axisY: {						
	      		title: "Units"
	      	},
	      	data: [{
	      		type: "line",
	      		dataPoints : dps
	      	}]
	      });

	      chart.render();
	      // var xVal = dps.length + 1;
	      // var yVal = 15;	
	      // var updateInterval = 1000;

	      // var updateChart = function () {
	      	
	      	
	      // 	yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
	      // 	dps.push({x: xVal,y: yVal});
	      	
	      // 	xVal++;
	      // 	if (dps.length >  10 )
	      // 	{
	      // 		dps.shift();				
	      // 	}

	      // 	chart.render();		

		// update chart after specified time. 

	//};

	//setInterval(function(){updateChart()}, updateInterval); 
	}
</script>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
